*{
	margin: 0;
	padding: 0;
}
/*html,body{*/
	/*width: 100%;*/
	/*height: 100%;*/
/*}*/

.start01 .container{
	width: 100%;
    height: 200%;
    background: linear-gradient(to bottom, #2BA7E0 , #48C0F0);
}
.start01{
	width: 100%;
    height: 100%;
    display: block;
}
.start01 .container .back{
	width: 100%;
    height: 100%;
}

.start01 .container .back .a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
  height: 100%;
/* 	background-image: url(../assets/image/back-05.png), url(../assets/image/back-01.png);
	background-size: auto, 100% auto;
	background-repeat: repeat, no-repeat;
	background-position: center center; */
  /*   animation: cloudMass 30s linear 0s infinite normal; */
    /* Firefox: */
    /* -moz-animation: cloudMass 30s linear 0s infinite normal; */
    /* Safari and Chrome: */
    /* -webkit-animation: cloudMass 30s linear 0s infinite normal; */
    /* Opera: */
    /* -o-animation: cloudMass 30s linear 0s infinite normal; */
}
.start01  a{
	animation: cloudMass 30s linear 0s infinite normal;
	-moz-animation: cloudMass 30s linear 0s infinite normal;
	-webkit-animation: cloudMass 30s linear 0s infinite normal;
	-o-animation: cloudMass 30s linear 0s infinite normal;
}

.secret{
  background-color: white;
  width: 320px;
  height: 55%;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-75%);
  border-radius: 15px;
}
.secret .title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 800;
}
.secret .text {
  margin: 0 24px;
  font-size: 15px;
  font-weight: 500;
}
.secret a{
  font-size: 15px;
}

.secret .under{
  text-decoration: underline;
  text-decoration-color: #057bb8;
  color: #057bb8;
  cursor:pointer;
  cursor:pointer;
}

.line{
  width: 90%;
  height: 1px;
  margin: 0 5%;
  background-color: #ddd;
  bottom: 10%;
  position: absolute;
}
.line_01{
  display: inline-block;
  height: 20px;
  width: 1px;
  vertical-align: middle;
  background-color: #e2e2e2;
  position: absolute;
  left: 50%;
  bottom: 3%;
}
.cancel {
  margin-top: 10%;
  margin-bottom: 2.5%;
  font-size: 14px;
  font-weight: 800;
  position: absolute;
  bottom: 1%;
  left: 25%;
  transform: translateX(-50%);
}
.agree{
  margin-top: 10%;
  margin-bottom: 2.5%;
  font-size: 14px;
  font-weight: 800;
  position: absolute;
  bottom: 1%;
  right: 25%;
  transform: translateX(+50%);
}
.secretBackground{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
/*动画*/
@keyframes cloudMass {
	0%   {background-position: 0% 100%, center center;}
	25%  {background-position: 25% 75%, center center;}
	50%  {background-position: 50% 50%, center center;}
	75%  {background-position: 75% 25%, center center;}
	100% {background-position: 100% 0%, center center;}
}
.start01 .rotate{
	width: 90%;
	height: 0;
	top: -20%;
	padding-bottom: 40%;
	position: relative;
}
.start01 .rotate .rotate-img{
	position: absolute;
	width: 100%;
	animation: rotate 15s linear 0s infinite normal;
    /* Firefox: */
    -moz-animation: rotate 15s linear 0s infinite normal;
    /* Safari and Chrome: */
    -webkit-animation: rotate 15s linear 0s infinite normal;
    /* Opera: */
    -o-animation: rotate 15s linear 0s infinite normal;
}
@-webkit-keyframes rotate{
    from {
    	-webkit-transform: rotate(0deg);
	}
    to {
    	-webkit-transform: rotate(360deg);
	}
}

.start01 .rotate .plane{
	width: 30%;
	position: absolute;
	top: -14%;
	left: 50%;
	transform: translateX(-50%);
}
.start01 .rotate .plane img{
	width: 100%;
}
.start01 .rotate .plane .wind-img{
	width: auto;
	position: absolute;
    right: 5px;
    top: 33%;
    width: 26%;
    animation: windImgSize 1.6s linear 0s infinite alternate;
    -moz-animation: windImgSize 1.6s linear 0s infinite alternate;
    -webkit-animation: windImgSize 1.6s linear 0s infinite alternate;
    -o-animation: windImgSize 1.6s linear 0s infinite alternate;
}
@-webkit-keyframes windImgSize{
    from {
    	right: 5px;
	    top: 33%;
	    width: 26%;
	}
    to {
    	right: 12px;
	    top: 39%;
	    width: 18%;
	}
}
.start01 .rotate .m_town{
	width: 60%;
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
	bottom: 17%;
}
.start01 .rotate .m_town img{
	display: block;
	width: 80%;
	margin: auto;
	animation: imgSize 1.6s linear 0s infinite alternate;
    -moz-animation: imgSize 1.6s linear 0s infinite alternate;
    -webkit-animation: imgSize 1.6s linear 0s infinite alternate;
    -o-animation: imgSize 1.6s linear 0s infinite alternate;
}
@-webkit-keyframes imgSize{
    from {
    	width: 80%;
	}
    to {
    	width: 65%;
	}
}
.start01 .rotate .m_btn_start{
	width: 60%;
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
	bottom: -9%;
}
.start01 .rotate .m_btn_start img{
	display: block;
	width: 45%;
	margin: auto;
	cursor: pointer;
}
@media screen and (min-width: 812px) and (max-width:1023px) {
	.start01 .rotate {
		    width: 80%;
	}
	.start01 .rotate .plane {
	    top: -11%;
	}
	.start01 .rotate .m_town {
	    bottom: 23%;
	}
	.start01 .rotate .m_btn_start {
	    bottom:0%;
	}
}
@media screen and (min-width: 1600px){
  .start01 .rotate .m_btn_start {
    bottom:-1%;
    left: 50%;
  }
}
.Privacy {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 20px;
  top: 85%;
  left: 80%;
  padding-bottom: 2px;
  border-bottom: 2px solid white;
}
.Privacy:hover{
  cursor: pointer;
}
@media only screen and (min-device-width: 812px) and (max-device-width: 1023px) and (-webkit-device-pixel-ratio: 3){
  .Privacy {
    font-size: 14px;
    transform: translateY(-85%);
    top: 90%;
    left: 85%;
  }
}
@media screen and (min-width: 812px) and (max-width: 1023px){
  .Privacy {
    font-size: 14px;
    transform: translateY(-85%);
    top: 90%;
    left: 85%;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1600px) and (-webkit-device-pixel-ratio: 2) {
  .Privacy {
    font-size: 25px;
    top: 85%;
  }

}
/*手机*/
@media only screen and (min-device-height: 812px) and (max-device-height: 1023px) and (-webkit-device-pixel-ratio: 3),
(min-device-height: 812px) and (max-device-height: 1023px) and (-webkit-device-pixel-ratio: 2),
(min-width: 812px) and (max-width: 1023px){
  .Privacy {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 14px;
    top: 91.5%;
    left: 80%;
    transform: translateY(-85%);
    padding-bottom:2px;
    border-bottom:2px solid white;
  }
  .Privacy:hover{
    cursor: pointer;
  }
  .secret{
    background-color: white;
    width: 320px;
    height: 85%;
    z-index: 1;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-75%);
    border-radius: 15px;
  }
  .secret .title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 800;
  }
  .secret .text {
    margin: 0 24px;
    font-size: 15px;
    font-weight: 500;
  }
  .secret a{
    font-size: 15px;
  }
  .line{
    width: 90%;
    height: 1px;
    margin: 0 5%;
    background-color: #ddd;
    bottom: 15%;
    position: absolute;
  }
  .line_01{
    display: inline-block;
    height: 20px;
    width: 1px;
    vertical-align: middle;
    background-color: #e2e2e2;
    position: absolute;
    left: 50%;
    bottom: 3%;
  }
  .cancel {
    margin-top: 10%;
    margin-bottom: 2.5%;
    font-size: 14px;
    font-weight: 800;
    position: absolute;
    bottom: 1%;
    left: 25%;
    transform: translateX(-50%);
  }
  .agree{
    margin-top: 10%;
    margin-bottom: 2.5%;
    font-size: 14px;
    font-weight: 800;
    position: absolute;
    bottom: 1%;
    right: 25%;
    transform: translateX(+50%);
  }
  .secretBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}
/*平板*/
@media only screen and (min-device-height: 1024px) and (max-device-height: 1600px) and (-webkit-device-pixel-ratio: 3),
(min-device-height: 1024px) and (max-device-height: 1600px) and (-webkit-device-pixel-ratio: 2),
(min-width: 1024px) and (max-width: 1600px){
  .Privacy {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 18px;
    top: 83%;
    left: 80%;

    padding-bottom: 2px;
    border-bottom: 2px solid white;
  }
  .Privacy:hover{
    cursor: pointer;
  }
  .secret{
    background-color: white;
    width: 320px;
    height: 55%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-75%);
    border-radius: 15px;
  }
  .secret .title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 800;
  }
  .secret .text {
    margin: 0 24px;
    font-size: 15px;
    font-weight: 500;
  }
  .secret a{
    font-size: 15px;
  }
  .line{
    width: 90%;
    height: 1px;
    margin: 0 5%;
    background-color: #ddd;
    bottom: 15%;
    position: absolute;
  }
  .line_01{
    display: inline-block;
    height: 20px;
    width: 1px;
    vertical-align: middle;
    background-color: #e2e2e2;
    position: absolute;
    left: 50%;
    bottom: 3%;
  }
  .cancel {
    margin-top: 10%;
    margin-bottom: 2.5%;
    font-size: 14px;
    font-weight: 800;
    position: absolute;
    bottom: 1%;
    left: 25%;
    transform: translateX(-50%);
  }
  .agree{
    margin-top: 10%;
    margin-bottom: 2.5%;
    font-size: 14px;
    font-weight: 800;
    position: absolute;
    bottom: 1%;
    right: 25%;
    transform: translateX(+50%);
  }
  .secretBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}

@media only screen and (min-device-height: 375px) and (max-device-height: 811px) and (-webkit-device-pixel-ratio: 3),
(min-device-height: 375px) and (max-device-height: 811px) and (-webkit-device-pixel-ratio: 2),
(min-width: 375px) and (max-width: 811px){
  .Privacy {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 10px;
    top: 91.5%;
    left: 80%;
    transform: translateY(-85%);
    padding-bottom: 2px;
    border-bottom: 2px solid white;
  }
  .Privacy:hover{
    cursor: pointer;
  }
  .secret{
    background-color: white;
    width: 320px;
    height: 90%;
    z-index: 1;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-75%);
    border-radius: 15px;
  }
  .secret .title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 800;
  }
  .secret .text {
    margin: 0 24px;
    font-size: 15px;
    font-weight: 500;
  }
  .secret a{
    font-size: 15px;
  }
  .line{
    width: 90%;
    height: 1px;
    margin: 0 5%;
    background-color: #ddd;
    bottom: 15%;
    position: absolute;
  }
  .line_01{
    display: inline-block;
    height: 20px;
    width: 1px;
    vertical-align: middle;
    background-color: #e2e2e2;
    position: absolute;
    left: 50%;
    bottom: 3%;
  }
  .cancel {
    margin-top: 10%;
    margin-bottom: 2.5%;
    font-size: 14px;
    font-weight: 800;
    position: absolute;
    bottom: 1%;
    left: 25%;
    transform: translateX(-50%);
  }
  .agree{
    margin-top: 10%;
    margin-bottom: 2.5%;
    font-size: 14px;
    font-weight: 800;
    position: absolute;
    bottom: 1%;
    right: 25%;
    transform: translateX(+50%);
  }
  .secretBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}
